
<h1>Product information</h1>
  <h2>id: <%= @product.id %></h2>
  <h4>name: <%= @product.name %></h4>
  <p>price: <%= @product.price %></p>
  <p>description: <%= @product.description %></p>
  <p>imgage_url: <%= @product.imgage_url %></p>
  <a href="/products">All products</a> 