<!DOCTYPE html>
<html>
  <head>
    <title>MiniCapstone10</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
        <div>
        <a href="/products">All products</a>
        <a href="/productss/new">New Product</a>
      </div>
    <%= yield %>
  </body>
</html>
